		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}
		
		.data_list {
			border: 1px solid #E5E5E5;
			padding: 10px;
			background-color: #FDFDFD;
			margin-top: 15px;
		}
		
		.data_list .data_list_title {
			font-size: 15px;
			font-weight: bold;
			border-bottom: 1px solid #E5E5E5;
			padding-bottom: 10px;
			padding-top: 5px;
		}
		
		.data_list .data_list_title img {
			vertical-align: top;
		}